body{
   color: #A0522D;
   font-family: 'Courier New', Courier, monospace;
}


.about_me{

}

#me_image:hover{
opacity: 0.5;
}


.me{

}

 
p{
display: flex;
}

h2{
display: flex;

}


.navbar{
display: flex;
padding: 4px;
margin: auto;
background-color: #FFFDD0;
color: #A0522D;
position: sticky; top:0;
margin-bottom: 20px;
}


.navbar a:hover{
    background-color: #8B5c2a;
    color: white;
    border-radius: 10px;
}


.navbar a{
    padding: 10px 20px;
    color: #A0522D;
    text-decoration: none;
    margin: 0px 10px;
    transition: all 0.3s ease-in-out;
}