body{
   background-color: blanchedalmond;
}


.about_me{

}

#me_image:hover{
opacity: 0.5;
}


.me{

}


p{
display: flex;
}

h2{
display: flex;

}


#skills{

}

#hidden{
    display: none;
}

